extends layout

block content


    h1= title
        
    ul
 
        each user, i in userlist
            li 
                p #{user.firstname}  #{user.lastname} 
                p #{user.email}
            
                
                
                
                //a(href="mailto:#{user.email}")= user.firstname

    #home
        a(href='/') Home 

    h1= title
        
    ul
        each user, i in userlist
            li
                p #{user.firstname} #{user.lastname}
                p #{user.alias} 
                a(href="mailto:#{user.email}")= user.email
                

