extends layout

block content

    h1= tit
        
    ul
 
        each user, i in userlist
            li 
                p #{user.firstname}  #{user.lastname} 
                p #{user.email}
            
                
                
                
                //a(href="mailto:#{user.email}")= user.firstname